body {
  font-family: "Raleway", sans-serif;
  color: #fdfdfd;
}
input {
  margin: 16px 0px 0px 16px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  padding-top: 10px;
  margin: 0px;
}
h3 {
  font-size: 18px;
  color: white;
  line-height: 0.8;
  position: relative;
  top: -7px;
}

h2 {
  font-size: 120px;
  font-family: "Arimo", sans-serif;
}
button {
  border-radius: 50px;
  border: none;
  background-color: #fff;
  /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.075); */
}
.wrapper {
  background-color: #babbc0;
  /* background-color: #e0e1e6; */
  max-width: 700px;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 16px;
}
.search-button {
  position: relative;
  left: 133px;
  top: -31px;
}
.location-search {
  position: relative;
  top: 22px;
  left: -5px;
  color: rgb(39, 38, 38);
}
.location-search:hover {
  color: rgba(0, 0, 0, 0.7);
  transition: all 200ms ease-in-out;
}
.date-time {
  margin: 0px;
  font-size: 12px;
  position: relative;
  top: -6px;
}
.climate {
  font-size: 13px;
  list-style: none;
  position: relative;
  top: 10px;
  left: 19px;
  padding: 0px;
  text-align: left;
}
.celsius {
  position: relative;
  top: 27px;
  left: -6px;
  padding: 0px;
  font-size: 23px;
  line-height: 1.3;
  font-weight: 500;
}

.max-min-temp-today {
  position: relative;
  top: -29px;
  font-size: 20px;
}
.icon {
  width: 144px;
  height: 144px;
}

.weekday {
  margin: 0px;
  font-size: 18px;
}
.forecast {
  margin-bottom: -68px;
}
.forecast-ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -105px;
  line-height: 30px;
}
.frame {
  max-width: 70%;
}
.endnote {
  font-size: 12px;
  text-align: center;
}
