body {
  font-family: "Raleway", sans-serif;
  color: #fff;
}
input {
  margin: 16px 0px 0px 16px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  padding-top: 10px;
  margin: 0px;
}
h3 {
  font-size: 18px;
  color: white;
  line-height: 0.8;
  position: relative;
  top: -7px;
}

h2 {
  font-size: 120px;
  font-family: "Arimo", sans-serif;
}
button {
  border-radius: 50px;
  border: none;
  background-color: #fff;
  /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.075); */
}
.wrapper {
  /* background-color: #babbc0; */
  /* background-color: #e0e1e6; */
  max-width: 700px;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 16px;
}
.search-button {
  padding: 0px;
  position: relative;
  left: 128px;
  top: -31px;
}
.location-search {
  position: relative;
  top: 22px;
  left: -5px;
  color: rgb(39, 38, 38);
}
.location-search:hover {
  transition: all 200ms ease-in-out;
}

.climate {
  font-size: 13px;
  list-style: none;
  position: relative;
  top: 10px;
  left: 19px;
  padding: 0px;
  text-align: left;
}
.celsius {
  position: relative;
  top: 27px;
  left: -6px;
  padding: 0px;
  font-size: 23px;
  line-height: 1.3;
  font-weight: 500;
}

.max-min-temp-today {
  position: relative;
  top: -29px;
  font-size: 20px;
}
.main-weather-icon {
  width: 144px;
  height: 144px;
}

.weekday {
  margin: 0px;
  font-size: 18px;
}
.forecast {
  margin-bottom: -68px;
}
.forecast-ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -105px;
  line-height: 18px;
}
.frame {
  max-width: 70%;
}
.icon-forecast {
  width: 54px;
  height: 54px;
  position: relative;
  top: -10px;
}
.endnote {
  font-size: 12px;
  text-align: center;
}

.background-01d {
  background: linear-gradient(
    216deg,
    rgb(255, 194, 48) 11.2%,
    rgb(255, 124, 0) 100.2%
  );
}
.background-02d {
  background: radial-gradient(
    circle at 80% 20%,
    rgb(255, 156, 156) 0%,
    rgb(179, 201, 241) 90%
  );
}
.background-03d {
  background: linear-gradient(
    210deg,
    rgb(167, 220, 225) 11%,
    rgb(134, 182, 194) 83.9%
  );
}
.background-04d {
  background: linear-gradient(
    204deg,
    rgb(221, 221, 221) 5.5%,
    rgb(134, 171, 194) 90%
  );
}
.background-09d {
  background: linear-gradient(
    61deg,
    rgb(77 84 144) 3.2%,
    rgb(137 146 208) 97.6%
  );
}
.background-10d {
  background: linear-gradient(
    236deg,
    rgb(216, 176, 216) 23.9%,
    rgb(53, 169, 215) 86.5%
  );
}
.background-11d {
  background: linear-gradient(
    97deg,
    rgba(30, 33, 98, 1) 0%,
    rgba(75, 26, 108, 1) 30%,
    rgba(163, 71, 139, 1) 71%,
    rgba(205, 96, 255, 1) 82%,
    rgba(163, 71, 139, 1) 88%,
    rgba(75, 26, 108, 1) 108%
  );
}
.background-13d {
  background: linear-gradient(
    76.5deg,
    rgb(129, 252, 255) 0.4%,
    rgb(255, 175, 207) 49.8%,
    rgb(255, 208, 153) 98.6%
  );
}
.background-50d {
  background: linear-gradient(
    69.9deg,
    rgb(76, 79, 106) 3.2%,
    rgb(118, 124, 163) 97.6%
  );
}
.background-night {
  background: linear-gradient(
    15deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 82.2%
  );
}
